# زرین‌پال
ZARINPAL_MERCHANT_ID=
# true = درگاه آزمایشی | false = واقعی
ZARINPAL_SANDBOX=true
# آدرس بازگشت بعد از پرداخت
ZARINPAL_CALLBACK_URL=http://localhost:3001/pricing/callback
FRONTEND_URL=http://localhost:3001
