{
  "EMAIL": {
    "RESEND_API_KEY": "PASTE_YOUR_RESEND_KEY_HERE",
    "FROM": "Zareoon <noreply@zareoon.ir>"
  },
  "DB": {
    "FORCE_SYNC": false,
    "SEED": true
  },
  "AI_FREE_PARSPACK_API_KEY": "PASTE_ZAREOON_PARSPACK_AI_STUDIO_KEY_HERE"
}
